$switch-size: 1.1rem;
$label-length: 4rem;
$off-pos: 40%;
$on-pos: 19%;
$color-wrap-bg: #e5e5e5;
$color-on-label-bg: #a472ea;
$color-on-switch-bg: #6200ee;
$color-off-label-bg: #9b9b9b;
$color-off-switch-bg: #ffffff;
#switch-wrap {
  display: inline-block;
  label {
    padding: 0 0 !important;
    background: $color-wrap-bg;
  }
  input[type="checkbox"] {
    display: none;
    margin: 0;
    + label {
      display: block;
      width: $label-length;
      border-radius: $label-length;
      span {
        height: $switch-size;
        width: $switch-size;
        vertical-align: middle;
        position: relative;
        display: inline-block;
        margin-bottom: 1px;
        &.text {
          color: #f0f0f0;
          &:before {
            content: "ENG";
            font-size: 90%;
            border-radius: 8px 0 0 8px;
            padding-left: 8px;
            background: $color-on-label-bg;
            padding-right: 16px;
          }
          left: -$on-pos;
        }
        &.switch {
          background-color: $color-on-switch-bg;
          border-radius: 50%;
          right: -$on-pos;
          transition: all 0.3s ease-in 0s;
        }
      }
    }
    &:not(:checked) {
      + label {
        span {
          &.text {
            &:before {
              content: "SWA";
              background: $color-off-label-bg;
              border-radius: 0 8px 8px 0;
              padding-left: 18px;
              padding-right: 8px;
            }
            left: -4px;
          }
          &.switch {
            transition: all 1s linearn 0.3s;
            left: -$off-pos;
            background: $color-off-switch-bg;
          }
        }
      }
    }
  }
}
