$tabs-header-bg-color: #f1f1f1;
$tabs-header-active-bg-color: #888888;
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
$breakpoint-mobile: 920px;
$my-border-radius: 4px;
body {
  background: #ffffff;
}

p {
  margin: 0;
}

div.container {
  @media (min-width: $breakpoint-mobile) {
    width: 72%;
  }
  margin: 0 auto;
  header {
    background: #3804f7;
    padding: 0.2rem 0.75rem;
    color: #f0f0f0;
    h1 {
      margin: 0;
      display: inline-block;
    }
    .version {
      float: right;
      vertical-align: middle;
      padding: 0.5rem 0;
      color: #b6fa49;
    }
  }
  section {
    .version {
      display: block;
      color: #333;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }
}
.tabs {
  border: 1px solid $tabs-header-bg-color;
  margin-top: 1rem;
  padding: 0;
  .headers {
    background: $tabs-header-bg-color;
    h2 {
      margin: 0;
      font-weight: normal;
      padding: 0.4rem;
      display: inline-block;
      &.active {
        background: $tabs-header-active-bg-color;
        color: invert($color: #000000);
      }
    }
  }
  .tab {
    display: none;
    padding: 0.2rem;
  }
}
