<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='img/favicon.ico')}}"
    />
    <title>Tigo Pesa Tools</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/switch.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/tabs.css')}}"
    />
  </head>

  <body>
    <div class=" container">
      <header>
        <h1>Tigo Pesa Tools</h1>
      </header>
      <div class="tabs" id="tabs">
        <div class="headers" id="headers">
          <h2 data-tab="menu-builder">Menu Builder</h2>
          <h2 data-tab="trans-test">Trans Test</h2>
        </div>
        <div class="tab" id="menu-builder">
          <section>
            <div class="editor-wrap">
              <div id="menu">
                <div id="editor"></div>
              </div>
            </div>
            <span class="version">v1.0.1</span>
          </section>
        </div>
        <div class="tab" id="trans-test">
          <section>
            <p>Trans test</p>
          </section>
        </div>
      </div>
    </div>
    <div id="overlay"></div>
    <script
      type="module"
      src="{{url_for('static', filename='js/app.js')}}"
    ></script>
    <script
      type="module"
      src="{{url_for('static', filename='js/tabs.js')}}"
    ></script>
  </body>
</html>
