<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/switch.css" />
  </head>
  <body>
    <div class="topbar">
      <div id="lang-wrap">
        <input type="checkbox" name="lang" id="lang" />
        <label for="lang">
          <span class="text"></span>
          <span class="switch"></span>
        </label>
      </div>
    </div>
  </body>
</html>
